.main {
    overflow: hidden;
}

.header { 
    height: var(--header-height);
    background-image: linear-gradient(0,#f83c28,#fd512f);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
    /* margin-bottom: 12px; */
}

.header__navbar-list {
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 6px;
    margin-bottom: 0;
    position: relative;
}

.header__navbar-item {
    margin: 0 8px;
    display: inline-block;
    position: relative;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
    color: rgba(255, 255 , 255, 0.7);
    cursor: pointer;
}
.header__navbar-icon,
.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-item-qrhover:hover .header__qr {
    display: block;
}

.header__navbar-item-notifihover:hover .header__notifi{
    display: block;
    border-radius: 2px;
}

.header__navbar-item-link {
    display: flex;
    align-items: center;
}

.header__navbar-icon {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.8rem;
}

.separate-text::after { 
    position: absolute;
    content: "";
    display: block;
    border-left: 1px solid #fff;
    height: 14px;
    right: -10px;
    top: 1px;
}

.header__user {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 3px;
    cursor: pointer;
    /* display: none; */
}

.header__user:hover .header__user-name{
    opacity: 0.7;
}

.header__user:hover .header__user-info {
    display: block;
}

.header__user-img {
   margin-right: 5px;
   margin-top: 4px;
   
}

.header__user-img-link {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #e03e2a;
}

.header__user-name {

}

.header__user-text-name {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 400;
}

.header__user-info {
    list-style: none;
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    z-index: 3; 
    padding-left: 0;
    width: 160px;
    box-shadow: 0 1px 2px gray;
    display: none;
    animation: ScaleIn ease 0.3s;
    border-radius: 2px;
    transform-origin: calc(100% - 30px) top;
}



.header__user-info-content {
    border-bottom: 1px solid var(--border-color);
}

.header__user-info .info-content {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    line-height: 3.6rem;
    display: block;
    padding: 2px 16px;
    border-radius: 2px;
    font-weight: 400;
}

.header__user-info .info-content:hover {
    background-color: #F8F8F8;
    color: #00bfa5;
}
.header__user-info::before {
    content: "";
    position: absolute;
    border-width: 10px 13px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 18px;
    top: -18px;
}

/* Header QR Code */

.header__qr {
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    left: 0 ;
    top: 130%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: FadeIn ease 1s;
    box-shadow: 0 1px 10px grey;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -10px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.header__qr-download-img {
    width: 50%;
    height: 15px;
}

/* Nav Noti */

.header__notifi {
    z-index: 3;
    display: none;
    width: 420px;
    position: absolute;
    background-color: var(--white-color);
    top: 150%;
    right: 0;
    box-shadow: 0 1px 10px grey;
    animation: ScaleIn ease 0.3s;
    transform-origin: calc(100% - 30px) top;
    will-change: tranform ,opacity;
}

.header__notifi::before {
    content: "";
    position: absolute;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: -1px;
    top: -30px;
}

.header__notifi-header::after {
    content: "";
    display: block;
    width: 50px;
    height: 10px;
    right: -245px;
    top: -10px;
    position: absolute;
}


.header__notifi-header {
    color :#999 ;
    margin: 0 0 0 12px;
    position: relative;
    cursor: auto ;
}

.notifi-header-content {
    margin: 0;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: 400;
}

.header__notifi-body {
    background-color: rgba(252, 75, 44, 0.1);
    max-height: 250px;
    overflow-y: auto;
}

.notifi-body-content {
    height: 72px;
    padding: 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.notifi-body-content:hover {
    background-color: #f8f8f8;
}

.body-img {

}

.body-img-link {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.body-content {
    margin-left: 12px;
}

.body-content-heading {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--black-color);
    font-weight: 400;
}

.body-content-sub {
    display: block;
    font-size: 1.2rem;
    margin-top: 4px ;
    color: #756f6e;
    line-height: 1.6rem;
}


.header__notifi-footer {

}

.notifi-footer-content {
    color: var(--black-color);
    margin: 0;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: 500;
    padding: 0 48px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.modal__inner {

}

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form-container {
    padding: 16px 32px;
    border-radius: 5px;
}

.heading-register {
    display: flex;
    justify-content: space-between;
    padding: 18px 12px  ;
    margin-bottom: 20px;
}

.register-content {
    font-size: 2.2rem;
    display: block;
    font-weight: 400;
}

.swich-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}


.input-code-type,
.code-confirm,
.input-phone-number {
    width: 100% ;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.input-code-type:focus,
.code-confirm:focus,
.input-phone-number:focus {
    border-color: #888;
}

.input-code {
    display: flex;
}

.input-code-type {

}

.code-text {

}

.input-confirm {
    display: flex;
}

.confirm-btn {
    height: 40px;
    align-self: flex-end;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    background-color: #f6eeee8e;
    cursor: pointer;
    border-radius: 2px;
}

.confirm-content {
    margin: 16px 0 50px 0;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    line-height: 2rem;
    padding: 0 12px;
}

.confirm-text-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

.footer-register {
    display: flex;
    justify-content: flex-end;
}


.contact-register {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    padding: 16px 32px;
    background-color: #efefef;
}
.google-register,
.facebook-register,
.sms-register {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 12px 8px;
    border-radius: 3px;
    min-width: 210px;
}

.facebook-register {
    background-color: #1970ce;
    color: var(--white-color);
}

.google-register {
    margin-left: 8px;
    background-color: var(--white-color) ;
    color: var(--text-color);
}

.contact-content {
    margin-left: 15px;
    padding-right: 16px;
}

.contact-icon {
    font-size: 1.8rem;
}

.btn-footer-registe {
    width: 140px;
}

/* Login form */

.help-content {
    margin: 16px 0 80px 0;
    font-size: 1.6rem;
    text-align: right;
    font-weight: 400;
    line-height: 2rem;
}
.forgot-text-link,
.help-text-link {
    text-decoration: none;
    font-weight: 500;
}

.forgot-text-link {
    color: var(--primary-color);
    padding-right: 12px;
    position: relative;
}

.forgot-text-link::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 19px;
    background-color: var(--border-color);
    position: absolute;
    right: -4px;
}

.help-text-link {
    color: #bababa;
    padding-left: 12px;
}

.login-form.google-register,
.login-form.facebook-register,
.login-form.sms-register {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 8px 8px;
    border-radius: 3px;
    min-width: 150px;
}

.login-form.sms-register {
    margin-left: 8px;
    background-color: #1bb71b ;
    color: var(--white-color);
}

.login-form.facebook-register {
    margin-left: 8px;
}


.login-form.sms-contact-content {
    margin-left: 32px;
}

.login-form.facebook-contact-content {
    margin-left: 20px;
}

.login-form.google-contact-content {
    margin-left: 24px;
}


/* header below */

.header__below {
    padding-top: 20px;
    display: flex;
    align-items: center;
    height: var(--header-below-height);
}

.header__below-logo {
    width: 194px;
    margin-left: 8px;
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
}

.navbar-search-container {
    display: flex;
    align-items: center;
}

.cart-user-container {
    display: flex;
    align-items: center;
}

/* <!-- header navbar mobile --> */

.header__navbar-mobile {
    color: var(--white-color);
    font-size: 2.2rem;
    display: none;
    position: relative;
}

.navbar-mobile-icon {
    padding: 18px 12px 18px 24px;
}

.navbar-mobile-icon-lable,
.search-mobile-icon-lable,
.header__below-logo,
.user-mobile {
    -webkit-tap-highlight-color: transparent;
}

.overlayer {
    position: fixed;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    display: none;
    animation: FadeIn ease 0.5s forwards;
}

.open-close-navbar-mobile:checked ~ .overlayer {
    display: block;
}

.search-mobile-icon {
    padding: 18px 12px 18px 12px;
}

.header__search-mobile {
    color: var(--white-color);
    font-size: 2.2rem;
    display: none;
}

/* header search mobile */

.search-mobile-input {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    height: 54px;
    overflow: hidden;
    background-color: var(--white-color);
    opacity: 0;
    transform: translateY(-10px) ;
    transition: transform linear 0.3s, opacity ease 0.3s, visibility linear 0.3s;
    will-change: transform;
    visibility: hidden;
}

.open-close-mobile-search:checked ~ .search-mobile-input {
    transform: translateY(0); 
    opacity: 1;
    visibility: visible;
}

.open-close-mobile-search:checked ~ .overlayer {
    display: block;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    margin: 4px;
    padding: 4px;
}

.input-box {
   width: 100px;
   border: none;
   outline: none;
   font-size: 1.4rem;
   line-height: 2.4rem;
   flex: 1;
   border-right: 1px solid var(--border-color) ;
}

.search-list-btn {
    display: flex;
    align-items: center;
}

.search-list {
    color: var(--text-color);
    font-size: 1.4rem;
    width: 100px;
    padding-left: 8px;
}

.btn-search-mobile {
    width: 70px;
    margin-left: 12px;
}



/* user mobile */

.user-moblie-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: none;
    margin: 0 24px 0 6px;
    position: relative;
    top: -3px;
    cursor: pointer;
}

.header__list-mobile {
    position: fixed;
    width: 70%;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    background-color: var(--white-color);
    transition: transform linear 0.3s, opacity linear 0.5s;
    will-change: transform;
    transform: translateX(-300px);
    opacity: 0;
}

.open-close-navbar-mobile:checked ~ .header__list-mobile {
    transform: translateX(0);
    opacity: 1;
}

.list-category {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.category-content {
    padding: 18px 18px;
    border-bottom: 1px solid var(--border-color);
}

.category-content a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.header__below-search {
    background-color: var(--white-color);
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    font-size: 1.4rem;
    flex: 1;
    justify-content: space-between;
    padding: 0 2px;
    position: relative;
    padding: 4px;
    z-index: 1;
}

.header__below-search-input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
}

.header__below-search-input:focus ~ .search-input-history {
    display: block;
}

.header__input-wrap {
    position: relative;
    flex: 1;   
    padding: 0 16px;
    height: 100%;
}

.header__below-search .search-input-history {
    list-style-type: none;
    position: absolute;
    top: 85%;
    left: 0;
    margin-left: -4px;
    padding-left: 8px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px gray;
    border-radius: 2px;
    width: calc(100% - 16px);
    padding-left: 0;
    display: none;
    animation: FadeIn ease 0.2s;
    overflow: hidden;
    z-index: 2;
}

.search-input-history-content {
    padding: 0 12px;
    font-size: 1.4rem;
    line-height: 3.8rem;
    font-weight: 500;
}

.search-input-history-heading {
    padding: 6px 12px;
    margin: 0;
    line-height: 2rem;
    color: var(--text-color);
    opacity: 0.6;
}

.search-input-history-content a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.search-input-history-content:hover {
    background-color: #fafafa;
}

.header__box-search-decs {

}

.header__below-search-decs {
    padding: 0 16px;
    border-left: 1px solid var(--border-color);
    position: relative;
    cursor: pointer;
}

.header__below-search-decs::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 124px;
    height: 20px;
}

.header__below-search-decs:hover .header__below-search-decs-sub {
    display: block;
}

.header__below-search-decs .decs-icon {
    color: var(--primary-color);
    padding-left: 8px ;
}

.header__below-search-decs-sub {
    position: absolute;
    list-style-type: none;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px gray;
    border-radius: 2px;
    top: 100%;
    left: 0;    
    display: none;
    animation: FadeIn ease 0.3s;
    padding-left: 0;
    overflow: hidden;
    margin-top: 16px;
    z-index: 3;
}

.header__below-search-decs .decs-sub {
    line-height: 3.2rem;
    display: block;
    padding: 6px 18px;
}

.header__below-search-decs .decs-sub:hover {
    background-color: #fafafa;
}

.btn.btn--primary.btn--search {
    min-width: 60px;
    font-size: 1.5rem;
    height: 32px;
}

.btn.btn--primary.btn--search:hover {
    opacity: 0.7;
}

.header__below-carts {
    width: 150px;
    text-align: center;
    color: var(--white-color);
    font-size: 2.6rem;
    position: relative;
    display: flex;
}


.header__below-carts-quantity {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 40px;
    font-size: 1.4rem;
    width: 24px;
    border: 2px solid var(--primary-color);
    top: -8px;
    right: -10px;
}

.header__below-carts-container {
    position: relative;
}

.header__below-carts-container::after {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 40px;
    top: 60%;
    right: -8px;
}

.header__cart-wrap {
    width: 50px;
    margin: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


.header__below-cart-detail {
    position: absolute;
    background-color: var(--white-color);
    width: 400px;
    right: 30%;
    top: 145%;
    box-shadow: 0 1px 2px gray;
    border-radius: 3px;
    display: none;
    animation: ScaleIn ease 0.3s;
    transform-origin: calc(100% - 30px) top;
    z-index: 3;
}

.header__below-cart-detail::before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 18px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 8px;
}

.cart-detail-body {
    max-height: 50vh;
    overflow-y: scroll;
    border-bottom: 1px solid var(--border-color);
}

.cart-detail-header {
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    cursor: auto;
}

.cart-detail-header-content {
    color: var(--text-color);
    font-size: 1.4rem;
    opacity: 0.5;
    padding: 8px;
    display: block;
    font-weight: 500;
}


.body-product { 
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    height: 90px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.body-product:hover {
    background-color: #F8F8F8;
}

.body-product .content-heading {
    font-size: 1.4rem;
    margin: 0;
    line-height: 2.2rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.body-product  .product-content {
    text-align: left;
    flex: 1;
}

.body-product .content-sub {
    font-size: 1.2rem;
    opacity: 0.7;
}

.body-product .product-img {
    width: 40px;
    height: 50px;
    border: 3px solid #999;
}

.body-product .img-box {
    width: 60px;
    text-align: center;
}

.body-product .price-number {
    margin: 0;
    justify-self: flex-end;
}

.body-product .number-primary {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.body-product .number-x {
    font-size: 1.2rem;
    color: var(--text-color);
    opacity: 0.7;
    margin: 0 2px 0 2px;
}

.body-product .product-price {
    width: 108px;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}


.body-product .number-quantity {
    font-size: 1.2rem;
    opacity: 0.7;
    color: var(--text-color);
}

.body-product .btn-delete {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
    align-self: flex-end;
    padding: 4px;
    margin-top: 25px;
    margin-right: 4px;
}

.body-product .btn-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}   

.cart-detail-footer {
    cursor: default;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.btn-cart-box {
    width: 124px;
}

.btn-cart {
    display: block;
    padding: 8px;
    line-height: 2rem;
}

.btn-cart:hover {
    opacity: 0.8;
}

/* sort bar */

.sort-bar {
    height: var(--header-sort-bar);
    width: 100%;
    list-style: none;
    padding: 0;
    font-size: 1.6rem;
    display: none;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: var(--header-height);
    padding: 8px 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.sort-bar-list {
    width: 100%;
    text-align: center;
    height: 100%;
    line-height: calc((var(--header-sort-bar) - 16px));
    border-right: 1px solid var(--border-color);
    position: relative;
}

.sort-bar-list a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.sort-bar-check::after {
    content: "";
    position: absolute;
    top: 118%;
    width: 100%;
    height: 3px;
    background-color: red;
    left: 0;
}



/* container */

.app__container {
    padding-top: 40px;
    background-color: rgba(245, 245, 245, 1);
}

/* Category Tablet & Mobile */

.category__tablet-mobile-container {

}

.category__tablet-mobile-container .category__list {
    display: flex;
    margin: 0;
    padding: 8px 0;
    max-width: 100%;
    overflow-x: auto;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.category__tablet-mobile-container .category__list::-webkit-scrollbar {
    display: none;
}

.category__tablet-mobile-container .list-item {
    --line-height: 2rem ;
    flex-shrink: 0;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    width: 108px;
    padding: 0 8px;
    margin: 6px 0 6px 10px;
    border-radius: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    color: var(--white-color);
}

.category__tablet-mobile-container .list-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 2rem;
    font-weight: 300;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.bg-blue-1 {
    background-color: #87afd8;
}

.bg-green {
    background-color: rgb(60, 200, 130, 1);
}

.bg-blue-2 {
    background-color: #87afd8;
}


/* category */

.container__category {
    background-color: var(--white-color);
    border-radius: 2px;
}


.container__category-header  {
    border-bottom: 1px solid var(--border-color);
    padding-left: 16px;
}

.container__category-header-content {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 400;
    margin: 0;
    padding: 17px 0;
}


.container__category-body {
    display: flex;
    flex-direction: column; 
    padding: 8px 0px;
}

.container__category-body .body-content-icon {
    font-size: 1.2rem;
}

.container__category-body-content { 
    font-size: 1.6rem;
    padding: 10px 24px;
    text-decoration: none;
    color: var(--text-color);
    transition: transform linear 0.1s;
    will-change: transform;
}

.container__category-body-content:hover {
    color: var(--primary-color);
    cursor: pointer;
    transform: translateX(5px);
}

/* list item */

.container__list-item-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 8px 20px;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left-content {
   margin-left: 12px;
}

.header-left-content-text {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 0;
    margin-right: 7px;
}

.header-left-content.btn.btn-header-left {
    font-size: 1.5rem;
    width: 90px;
    box-shadow: 0 1px 2px rgb(175, 174, 174);
}

.header-left-price {
    display: inline-block;
    min-width: 200px;
    background-color: var(--white-color);
    border-radius: 2px;
    height: 36px;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    box-shadow: 0 1px 2px rgb(175, 174, 174);
}

.header-right-content {
    
}

.header-right-content-page {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-right-number {
    color: var(--primary-color);
}

.header-right-content .btn-box {
    margin-left: 20px;
}

.btn-header-right {
    width: 36px;
    font-size: 1.4rem;
    box-shadow: 0 1px 2px rgb(175, 174, 174);
}

.btn--active:hover {
    opacity: 0.7;
}

.header-left-price {
    position: relative;
    cursor: pointer;
}

.header-left-price:hover .price-option{
    display: block;
}

.header-left-price .price-option {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 2px 2px rgb(175, 174, 174);
    list-style: none;
    border-radius: 2px;
    padding: 10px 10px 18px 10px;
    margin-top: 4px;
    display: none;
    animation: FadeIn ease 0.3s;
    z-index: 1;
}

.price-option::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -10px;
}

.price-option-content {
    padding: 8px 0 0 0;
}

.header-left-price .price-option-content a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.header-left-price .price-option-content a:hover {
    color: var(--primary-color);
}

/* item-body */

.container__list-item-body {
    /* padding-top: 12px; */
}

.container__item {
    background-color: var(--white-color);
    display: block;
    text-decoration: none;
    border-radius: 3px;
    /* overflow: hidden; */
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
    margin-bottom: 12px;
    position: relative;
    border-radius: 2px;
    transition: transform linear 0.1s;
    will-change: transform;
}

.container__item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.0625rem 20px 0 rgb(0, 0, 0, 0.05);
}   

.item-img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
}

.container__item-content {
    padding: 6px 10px;
}

.item-heading {
    margin: 4px 0;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden; 
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

.item-price {
    margin: 6px 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.old-price {
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #888;
}

.discount-price {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.item-propety {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

i.item-icon-heart {
    font-size: 1.3rem;
    color: red;
    display: none;
}

.item-icon-heart-no-like {
    font-size: 1.3rem;
    color: #c7c4c4;
}

.item-icon-heart-like .item-icon-heart {
    display: inline-block;
}

.item-icon-heart-like .item-icon-heart-no-like {
    display: none;
}

.item-rate {
    display: flex;
    align-items: center;
}

.item-icon-star {
    font-size: 0.8rem;
    color: #c7c4c4;
    margin-bottom: 2px;
}

.item-icon-star--active {
    color: var(--star-gold);
}

.item-sold {
    font-size: 1.2rem;
    margin-left: 2px;
    color: var(--text-color);
}

.item-original {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 300;
}

.favorite-lable-content {
    line-height: 1.6rem;
}

.favorite-lable {
    position: absolute;
    top: 10px; 
    left: -4px;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    background-color: currentColor;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.favorite-lable::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 3px solid transparent;
    border-right: 3px solid currentColor;
    left: 0px;
    top: 100%;
    filter: brightness(60%);
}

.content-favorite {
    color: var(--white-color);
}

.icon-favorite {
    color: var(--white-color);
    margin-left: 5px;
    margin-right: 2px;
}


.discount-lable {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 216, 64, 0.94);
    width: 40px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2px;
}

.discount-lable::after {content: "";
    display: block;
    border-style: solid;
    border-width: 0 20px 4px;
    border-color: transparent rgb(255, 216, 64, 0.94) transparent rgb(255, 216, 64, 1.94);
    left: 0px;
    top: 100%;
    position: absolute;
}

.discount-number {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.discount-content {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.pagination--m {
    margin: 42px 0 35px 0;
}

/* footer */

.footer {
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer-detail { 

}

.footer-heading {
    font-size: 1.7rem;
    color: var(--text-color);
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-container {
    padding: 16px 0 24px 0;
}

.footer-content {
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    color: #737373;
    padding: 8px 0;
}

.footer-content:hover {
    color: var(--primary-color);
}

.footer-icon {
    margin-right: 2px;
    margin-left: 2px;
}

.footer-qr-img {
    width: 90px;
    height: 90px;
    margin-right: 8px;
    border: 1px solid var(--border-color);
}

.img-link-app {
    width: 100px;
    height: 25px;
}

.footer-download {
    display: flex;
    align-items: center;
    margin-left: -5px;
}

/* probuild */

.footer-probuild {
    background-color: #f5f5f5;
}

.probuild {
    padding: 30px 0 30px;
    color: rgb(45, 148, 159);
    font-size: 1.4rem;
    margin: auto;
}

.probuild a {
    color: var(--text-color);
    margin-left: 3px;
    opacity: 0.7;
}